@media all and (max-width: 991px) {
    #main-nav,
    #main-nav.scrolled {
        background-color: #fff;
    }
    
    #main-nav a,
    #main-nav.scrolled a {
        color: #0ed8d6;
    }
    
    .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(14,216,214, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}

@media all and (max-width: 768px) {
    #team .team-member {
        margin-bottom: 20px;
    }
    
    #header h1 {
        font-size: 40px;
    }
    #header h2 {
        font-size: 30px;
    }
}